@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --color-bg: #111;
  --color-red: #ee2f3c;
  --color-bg-highlight: #222;
  --color-border: #333;
  --color-text: #eee;
  --color-text-subtlehighlight: #fff;
  --color-text-subtle: #8d8d8d;
  --color-brand: #5dabea;
  --font-family: "Jetbrains Mono", monospace;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  margin: 0;
  padding: 1rem;
}

a {
  color: var(--color-text-highlight);
  text-decoration: underline;
}

a:hover {
  color: var(--color-brand);
}

.btn {
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  background: var(--color-bg-highlight);
  color: var(--color-text-subtle);
  font-size: 1rem;
}

.btn-primary {
  background-color: var(--color-brand);
  color: var(--color-bg) !important;
}

.servers {
  border-collapse: collapse;
  border: 1px dashed var(--color-border);
  margin-bottom: 1.2rem;
}

.servers td,
.servers th {
  border: 1px dashed var(--color-border);
  padding: 0.6rem 1rem;
}

.servers .key {
  font-size: 0.85rem;
  display: flex;
  align-items: center;
}

.servers th {
  color: var(--color-text-subtle);
  font-size: 0.95rem;
  text-align: left;
}

.notice {
  padding: 1rem;
  margin-bottom: 1.2rem;
  border: 1px dashed var(--color-border);
  color: var(--color-text-subtle);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.delete {
  color: var(--color-red) !important;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.8rem;
}

.form-section {
  margin-bottom: 1.2rem;
}

.form-section label {
  margin-bottom: 0.4rem;
  color: var(--color-text-subtle);
  font-size: 0.8rem;
  display: block;
}

.form-section input[type="text"] {
  background: var(--color-bg-highlight);
  border: 1px solid var(--color-border);
  border-radius: 0.3rem;
  padding: 0.8rem 1.4rem;
  color: var(--color-text-highlight);
}

.form-section input:focus {
  outline: none;
}
